@font-face {
  font-family: Suisse Intl;
  src: url('suisseintl-medium.eot'); /* IE 9 Compatibility Mode */
  src: url('suisseintl-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('suisseintl-medium.woff2') format('woff2'), /* Super Modern Browsers */
  url('suisseintl-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('suisseintl-medium.ttf') format('truetype'), /* Safari, Android, iOS */
  url('suisseintl-medium.svg#suisseintl-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}
